body {

    background-color: rgb(234, 201, 144);

}


.form-home{
    border: 1px;
    border-radius: 10px;
    background-color: orange;
    margin-right: 100px;
    margin-left: 100px;
    margin-top:  50px;
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    size: 50px;
    font-size: 30px;
    font-family: sans-serif;


}

div.forms-results {
    border: 1px;
    border-radius: 10px;
    background-color: orange;
    margin-right: 100px;
    margin-left: 100px;
    margin-top:  50px;
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    size: 50px;
    font-size: 30px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

